*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
background-image: url("/img/fondo\ crud.jpg");
background-repeat: no-repeat;
background-size: cover;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form--container{
  /* box-shadow: 2px 2px 2px 2px gray; */
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
margin-left: auto;
margin-right: auto;
width: 350px;
}

.input--campo{
margin-left: 1%;
width: 340px;
text-align: center;
height: 40px;


}

.label--name{
display: flex;
justify-content: center;

}

/*user*/

.container-user{

background: linear-gradient(rgba(123, 123, 161, 0.318),rgba(175, 165, 25, 0.194),rgba(233, 115, 6, 0.293));
width: 250px;
height: 300px;
margin: 5px;
padding: 2px;
margin-top: 2rem;
list-style: none;
color: white;
}
.father-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
